<h3>Create an account</h3>
<form 
    class="ui form"
    [formGroup]="authForm">

    <app-input 
        label="Username" 
        [control]="$any(authForm.get('username'))" 
        inputType="text"
        >
    </app-input>
    
    <app-input
        label="Password"
        [control]="$any(authForm.get('password'))"
        inputType="password"
        >
    </app-input>
    
    <app-input
        label="Password Confirmation"
        [control]="$any(authForm.get('passwordConfirmation'))"
        inputType="password"
        >
    </app-input>

    <button class="ui submit button primary">Submit</button>

    {{ authForm.errors | json }}
</form>