<form 
    [formGroup]="emailForm" 
    class="ui form"
    (ngSubmit)="onSubmit()"
    >
    <app-input
        label="To"
        inputType="email"
        [control]="emailForm.get('to')"
        controlType="input"
        >
    </app-input>
    
    <app-input
        label="From"
        inputType="email"
        [control]="emailForm.get('from')"
        controlType="input"
        >
    </app-input>

    <app-input
        label="Subject"
        inputType="text"
        [control]="emailForm.get('subject')"
        controlType="input"
        >
    </app-input>

    <app-input
        label="Content"
        inputType="text"
        [control]="emailForm.get('text')"
        controlType="textarea"
        >
    </app-input>

    <button class="ui button primary">Send</button>
</form>